body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    color: white;
    font-family: 'Inter', sans-serif;
    scroll-behavior: smooth;
    font-weight: lighter;
    font-size: small;
}

::-webkit-scrollbar{
display: none;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    color: white;
    font-family: 'Inter', sans-serif;
    scroll-behavior: smooth;
    font-weight: lighter;
    font-size: small;
}

@font-face{
    font-family: HYWenHei;
    src: url('assets/Genshin-Impact-Font/zh-cn.ttf');
}
header{
    position: relative;
}

nav{
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10%;
    /* background: linear-gradient(180deg, rgba(75, 68, 68, 0.85) 0%, rgba(76, 76, 76, 0) 100%); */
    background-color: rgb(28, 28, 28);
}

.nav-right{
    display: flex;
    width: 40%;
    justify-content: space-between;
    
}



.login{
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: larger;
    color: white;
}

.login:hover{
    color: lightblue;
    font-weight: 900;
    transition: all 0.2s;
}

a{
    text-decoration: none;
}

.logo{
    cursor: pointer;
    font-size: larger;
    left: 0;
}


.logoImg{
    width: 75%;
    height: 50%;
}

.nav1 {
    list-style: none;
    display: flex;
}

.nav1 li {
    /* display: inline; */
    padding: 0 20px;
    font-family: 'Inter', sans-serif;
    font-weight: bolder;
    font-size: larger;
    color: white;
}

.navItem :hover{
    color: lightblue;
    transition: all 0.2s;
    font-weight: 800;
}

#menuBar{
    text-align: center;
    color: white;
    display: none;
}

.dropdown{
    display: none;
}

@media screen and (max-width: 900px){
    .nav-right{
        display: none;
    }
    #menuBar{
        display: block;
        font-size: larger;
        cursor: pointer;
    }



    .dropdown li{
        list-style: none;
    }

    .dropdown{
        color: white;
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        height: 50vh;
        top: -10000px;
        text-align: center;
        transition: all 0.5s ease;
        background-color: rgb(28, 28, 28);

    }

    .dropdown li{
        color: white;
        padding: 2rem;
    }

    .dropdown.active{
        position: fixed;
        background-color: rgb(28, 28, 28);
        opacity: 0.7;
        top: 73px;
        transition: all 0.5s ease;
        height: 50vh;
        font-size: 1.6rem;
        z-index: 20;
    }


}

/* Footer */   
footer{
    height: 90%;
    background-color: black;
    color: white;
}

.sosmed{
    background-color: rgb(20, 40, 40);
    display: flex;
    justify-content: flex-start;
    gap: 1vw;
}

.icons{
    margin-left: 4vw;
}

.sosmed i{
    font-size: 20px;
    padding: 1vw;
    color: white;
    opacity: 0.5;
    /* background-color: antiquewhite; */
}

.sosmed a :hover{
    color: white;
    opacity: 1;
}

.footerAsli{
    color: white;
    text-align: center;
}

.logo-footer{
    margin-top: 10vh;
}

.footer-link{
    margin-top: 5vh;
    margin-bottom: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
}

.footer-link p{
    color: white;
    opacity: 0.5;
}

.footer-link a :hover{
    color: white;
    opacity: 1;
}

.footer-sisa{
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.footer-sisa p{
    color: white;
}

.footer-sisa-p p{
    color: white;
    opacity: 0.8;
    margin-bottom: 5vh;
}